services:
  mongo:
    image: mongo:6
    ports:
      - "27017:27017"

  auth-service:
    build: ./auth-service
    ports:
      - "4000:4000"
    depends_on:
      - mongo

  voting-service-primary:
    build: ./voting-service-primary
    ports:
      - "5000:5000"
    depends_on:
      - mongo

  voting-service-backup:
    build: ./voting-service-backup
    ports:
      - "5001:5000"
    depends_on:
      - mongo

  watchdog-service:
    build: ./watchdog-service
    ports:
      - "7000:7000"
    depends_on:
      - voting-service-primary
      - voting-service-backup

  result-service:
    build: ./result-service
    ports:
      - "6000:6000"
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - auth-service
